
@{
    ViewData["Title"] = "Teacher Dashboard";
}

<div class="cart--title-section--S7XdX">
    <h1 class="display-4 text-dark mb-5">Teacher Profile</h1>
    <i class="fa-solid fa-user"></i>
</div>
<div class="row">
    <div class="col-md-8">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title">Profile Information</h5>
            </div>
            <div class="card-body">
                <p><strong>Name:</strong> Eric </p>
                <p><strong>Surname:</strong> Thompson </p>
                <p><strong>E-mail:</strong> ericthompson@gmail.com </p>
                <p><strong>Course Given:</strong> German </p>
                <!-- Diğer kimlik bilgileri eklenebilir -->
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title">Expertise</h5>
            </div>
            <div class="card-body">
                <p>2000-2004 University of Bremen</p>
                <p>1990-1995 University of Hamburg</p>
            </div>
        </div>
    </div>
</div>
