@{
    ViewData["Title"] = "Student Dashboard";
}

<div class="cart--title-section--S7XdX">
    <h1 class="display-4 text-dark mb-5">Student Profile</h1>
    <i class="fa-solid fa-user"></i>
</div>
<div class="row">
    <div class="col-md-8">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title">Profile Information</h5>
            </div>
            <div class="card-body">
                <p><strong>Name:</strong> Cansu Naz </p>
                <p><strong>Surname:</strong> Sari </p>
                <p><strong>E-mail:</strong> cansunazsari@gmail.com </p>
                <p><strong>Selected Course:</strong> German </p>
                <p><strong>Grade:</strong> B1 </p>
                <!-- Diğer kimlik bilgileri eklenebilir -->
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title">Expertise</h5>
            </div>
            <div class="card-body">
                <p>2019-2025 Bogazici University</p>
            </div>
        </div>
    </div>
</div>
